/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/*Algemeen*/

body {
    margin: 0;
    font-family: arial;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffbb00;
    margin-bottom: -1.3em;
}

body header nav{
    list-style: none;
}

/*
.nav_links {
    list-style: none;
}
*/

body header nav ul li{
        display: inline-block;
    padding: 0px 0px;
}

/*
.nav_links li {
    display: inline-block;
    padding: 0px 0px;
}
*/

.films {
    margin-bottom: -10em;
}


button {
    padding: 0.3em 0.9em;
    background-color: #ffbb00;
    color: black;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    outline: none;
    appearance: none;
    transition: 0.5s ease-in;
}


button:hover {
    color: #ff4545;
}


button:active {
    color: darkred;
}


button:focus {
    background-color: #e3e3e3;
}


ul li img.logo {
    max-height: 30px;
    width: 2.3em;
    position: absolute;
    left: 1em;
    top: 0.7em;
}

/*
main section p:nth-of-type(1){
    color: white;
    font-size: 13px;
    margin-left: 0.7em;
    line-height: 19.5px;
    max-width: 26em;
}
*/


/*
    color: red;
    font-family: arial;
    font-size: 13px;
    margin-left: 0.7em;
    line-height: 19.5px;
    max-width: 40em;
}
/*



/*Zoeken naar film*/

main div ul li button:nth-of-type(1){
      color: red;
    background-color: transparent;
    text-transform: uppercase;
    color: #ffbb00;
    font-size: 17px;
    font-weight: bold;

    position: relative;
    top: 0.3em
}

/*
.categoriefilmknop {
    color: red;
    background-color: transparent;
    text-transform: uppercase;
    color: #ffbb00;
    font-size: 17px;
    font-weight: bold;

    position: relative;
    top: 0.3em
}
*/

/*
main div ul{
        display: flex;
    justify-content: center;
    position: relative;
    top: 1.1em;
    list-style: none;
    position: relative;
    left: -1.1em;
}
*/

.categorien {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1.1em;
    list-style: none;
    position: relative;
    left: -1.1em;
}


.films {
    background-color: #21201e;
    position: relative;
    margin-top: -1em;
    padding-bottom: 20em;
}



/* Carousel */

main div nav ul li a img:nth-of-type(1){
        width: 200px;
    padding: 20px;
}



/*
.filmkiezen {
    width: 200px;
    padding: 20px;

}
*/


li {
    list-style: none;
    display: list-item;
    box-sizing: border-box;
}


main div nav ul:nth-of-type(1) {
        display: flex;
    flex-direction: row;
    margin-left: -2em;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 407px;
}


/*
.ditiseentest {
    display: flex;
    flex-direction: row;
    margin-left: -2em;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 407px;

}
*/


/*All Stars*/
/*
main section:nth-of-type(2){
    background-color: #333332;
    padding-bottom: 2em;
    padding-top: -em;
}
*/


.ondernieuws {
    background-color: #333332;
    padding-bottom: 2em;
    padding-top: -em;
}


#starsafbeelding {
    position: relative;
    width: 8em;
    top: 1.4em;
    left: 0.7em;
    margin-bottom: 1em;
}


#starstitel {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 0.7em;
    margin-bottom: 1.3em;
}


#groteknop {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    background-color: rgb(255, 196, 38);
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-family: sans-serif;
    letter-spacing: -0.05em;
    position: relative;
    margin-bottom: -1em;
    left: 0.7em;
    height: 2.5em;
    width: 17em;
}



/*imax*/

.imaxsection {
    background-color: #333332;
    padding-bottom: 0.4em;
    margin-bottom: -20em;
}


.imaxafbeelding {
    position: relative;
    width: 30em;
    margin-bottom: 1em;
    width: 100%;
    height: 350px
}


main section h1:nth-of-type(1){
        color: white;
    font-family: arial;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 0.5em;
    position: relative;
    top: -9.5em;
}

/*
.titelimax {
    color: white;
    font-family: arial;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 0.5em;
    position: relative;
    top: -9.5em;
}
*/

/*
main section:nth-of-type(1) > h2{
        color: white;
    font-family: arial;
    font-size: 24px;
    margin-left: 0.7em;
    margin-bottom: 1.3em;
    position: relative;
    top: -17em;
    margin-left: 0.8em
}
*/


.imaxondertitel {
    color: white;
    font-size: 24px;
    margin-left: 0.7em;
    margin-bottom: 1.3em;
    position: relative;
    top: -17em;
    margin-left: 0.8em
}


main section:nth-of-type(3) > p{
    font-size: 13px;
    margin-left: 1.7em;
    position: relative;
    top: -27em;
    max-width: 26em;
    line-height: 1.4em;
    color: white;
}


main section:nth-of-type(2) > p{
    font-size: 13px;
    margin-left: 0.9em;
    position: relative;
    top: -1em;
    max-width: 26em;
    line-height: 1.4em;
    color: white;
}


main section:nth-of-type(1) > p{
    font-size: 13px;
    margin-left: 1.7em;
    position: relative;
    top: -27em;
    max-width: 26em;
    line-height: 1.4em;
    color: white;
}


/*
.imaxparagraaf {
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    margin-left: 1.7em;
    position: relative;
    top: -27em;
    max-width: 26em;
    line-height: 1.4em;
}
*/


#imaxknop {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    background-color: rgb(255, 196, 38);
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    letter-spacing: -0.05em;
    position: relative;
    left: 1.5em;
    height: 2.5em;
    width: 11em;
    bottom: 26em
}


#stoelknop {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    background-color: rgb(255, 196, 38);
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    letter-spacing: -0.05em;
    position: relative;
    left: 1.5em;
    bottom: 27em;
    width: 11em;
    height: 2.5em;
}



/*footer*/

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-left: -2.2em;
    position: relative;
    background-color: rgb(255, 196, 38);
    padding-bottom: 17em;
    padding-top: 2em;
    margin-top: -1em;
}

/*
#footercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-left: -2.2em;
    position: relative;
    background-color: rgb(255, 196, 38);
    padding-bottom: 17em;
    padding-top: 2em;
    margin-top: -1em;
}
*/


footer ul li img{
    width: 2em;
}

/*
.icoon {
    width: 2em;
}
*/



/* Film pagina */

.carousel2 {
    margin-bottom: -2em;
}


.naamcarousel2 {
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 1em;
    margin-left: 0.5em;
}


.zonderkleur {
    background-color: transparent;
    color: grey;
    position: relative;
    left: 25em;
    bottom: 3em
}

/*
.verder {
    position: relative;
    left: 19.1em;
    background-color: black;
    color: #ffbb00;
}
*/


.keuze {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 17px;
    color: black;
    font-weight: bold;
    list-style: none;
}


.keuzes {
    list-style: none;
    margin-bottom: 2em;
    margin-left: -2em
}



#deel2 {
    margin-top: 6em
}


.filmkiezen2 {
    width: 120px;
    padding: 5px;
    transition: 1s;
}


main section div ul:nth-of-type(1){
        display: flex;
    flex-direction: row;
    margin-left: -2em;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 407px;
    margin-top: -1.5em
}

/*
.ditiseentest2 {
    display: flex;
    flex-direction: row;
    margin-left: -2em;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 407px;
    margin-top: -1.5em
}
*/


main section div ul li a p{
        color: black;
    font-family: avenir;
    position: relative;
    top: -1.5em;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    font-weight: lighter;
}

/*
.naamvandefilm {
    color: black;
    font-family: avenir;
    position: relative;
    top: -1.5em;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    font-weight: lighter;
}
*/


main section div ul li a p:nth-of-type(2){
      color: grey;
    font-family: avenir;
    position: relative;
    top: -2.5em;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    font-weight: lighter;
}

/*
.datumvandefilm {
    color: grey;
    font-family: avenir;
    position: relative;
    top: -2.5em;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    font-weight: lighter;
}
*/



/* Vierkant met menu */

.vierkantvormgeving {
    display: none;
    position: fixed;
    padding-top: 155px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    transition: 1s;
    animation: kleurtjes 20s infinite;
}


.vierkantinhoud {
    background-color: #ffbb00;
    margin: auto;
    padding: 20px;
    border: 5px solid white;
    width: 70%;
    border-radius: 2em;
    box-shadow: 0px 8px 16px 3px white;
}


.block{
    display: block;
}



@keyframes kleurtjes {
    0% {
        background-color: #ffbb00;
    }

    50% {
        background-color: transparent;
    }

    100% {
        background-color: #ffbb00;
    }
}


.kruisje {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 3em;
    top: 6em;
    text-shadow:
        0 0 0.5em white,
        0 0 0.9em white,
        0 0 0.9em white;
}


span:hover {
    cursor: pointer;
}


a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
    transition: 0.5s ease-in;
}


a:focus {
    background: #ffbb00;
}


a:hover {
    background-color: #ff4545;
}


a:active {
    color: darkred;
}



/* popcorn en kip animatie */

/*
div:nth-of-type(odd){
        font-size: 2em;
    animation: draaien 1s infinite;
    animation-duration: 4s;
}
*/
/*
main div div div:nth-of-type(odd){
        font-size: 2em;
    animation: draaien 1s infinite;
    animation-duration: 4s;
}
*/

.popcorn-twee {
    font-size: 2em;
    animation: draaien 1s infinite;
    animation-duration: 4s;
}

/*
div:nth-of-type(even){
    font-size:2em
}
*/

main div div div:nth-of-type(even){
    font-size: 2em;
}

/*
.haan {
    font-size: 2em;
}
*/


@keyframes draaien {
    0 {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(40deg);
    }
}


#kip {
    display: flex;
    justify-content: center;
    margin-bottom: -3em
}



/*

nav ul{
    color:red
}

nav ul.show{
    display: block;
    background-color: blue;
}

*/
